.austria {
	float: right;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

img {
	float: left;
	width: 150px;
	height: auto;
}

.jumbotron {
	text-align: center;
	font-size: small;
}

.jumbotron h1 {
	font-size: x-large;
	font-family: Helvetica;
	font-weight: 400;
}

.card-title {
	border: 1px solid;
}

.col-md-8 {
	display: flex;
}

.col-md-4 img {
	float: right;
}

.col-md-4 h2 {
	background-color: #cedff2;
}

.col-md-8 h2 {
	background-color: #CEF2E0;
}

.col-md-12 img {
	float: left;
	width: 400px;
}

.columns {
	display: flex;
	justify-content: space-between;
}

#languages {
	background-color: #eee;
}

.nav-link {
	display: flex;
	justify-content: space-between;
}

.robert {
	float: right;
}

#sister {
	background-color: #eee;
}

#today {
	background-color: #ddcef2;
}

#wikipedia {
	background-color: #eee;
}